* {
	box-sizing: border-box;
	font-family: 'Nunito', sans-serif !important;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-image: linear-gradient(to right, #f5c61b, #e05800);
}

input {
	border-radius: 1rem;
	padding: 0.5rem;
	padding-right: 1rem;
	width: 100%;
	background-image: linear-gradient(to right, #f5c61b, #e05800);
}

input:focus {
	outline: none;
}

.suggestions {
	width: 100%;
}

ul {
	padding: 0;
	overflow-y: auto;
	max-height: 200px;
	position: absolute;
}

ul li {
	list-style-type: none;
	padding: 0.5rem;
	padding-right: 10rem;
	background-color: none;
}

ul li:hover {
	cursor: pointer;
	background-color: orangered;
	transition: 0.8s;
}
